<nav style="margin-top: -50px;"class="navbar navbar-light" style="background-color: #52ffd4;">
  <div class="container-md">
    <img src="assets/nspScheme.jpg" alt="Lti-logo">
    <a class="navbar-brand" style="color: black;"><h1 center><b>National Scholarship Portal</b></h1></a><br>
  </div>
  <div style="margin-top: -50px;" class="container-md">
    <a>&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <a class="navbar-brand" style="color: black;"><h3 center>Government Of India</h3></a><br>
  </div>
</nav>
<div class="wrapper">
 <div class="shadow p-3 mb-4 shadow-info shadow-intensity-lg">
      <ul class="nav nav-pills">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/home" style="background-color: #00008B;color:white" >HOME</a>
            </li>
          <li class="nav-item">
              <a class="nav-link active " aria-current="page" routerLink="/about" style="background-color:#00008B;color:white">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active " aria-current="page" routerLink="/contact" style="background-color: #00008B;color:white">CONTACT US</a>
            </li>  

      </ul>
  </div>
</div>

<div>
<router-outlet></router-outlet>
</div>